.flex-container{
    display: flex;
    /* flex-direction: ; */
}
.leftt{
    width: 10%;
    padding: 20px;
    height: 90vh;
    background-color: rgb(250, 247, 243);
}
.rightt{
    margin: 0%;
    padding: 10px;
    width: 100%;
    background-color:white;
}

.breadcrumb-container{
   margin: 0;
  padding: 5px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    font-size:20px;
    font-weight: bold;
    /* justify-content: center; */
}



/* ////////////////// */



.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

 .dndnode {
  height: 25px;
  margin-bottom:20% ;
  margin-top: 30%;
  padding: 4px;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  color: white;
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.dndnode:hover{
  background-position: right center;
}



.dndflow .dndnode.output {
  border-color: #ff0072;
}

.react-flow__panel {
  position: absolute;
  z-index: 5;
  margin: 3px;
  margin-top: 22%;
}

.react-flow__attribution a {
  display: none;
}
